{% block content %}

    <!-- Page content -->
14.05.2023
<p>
  We perceive abstractions within society and attach to them.
  </br>
  We point to them saying "see, here it is! such is the case!" and once we notice them changing or just not fitting the pattern, 
  </br>we keep holding on to them.
</p>
<p>
  One is scared of change, because it tears reality into pieces.
  </br>
  Most problematic are the ones that just seem to be true, all present and shared by everyone.
  </br>
  One can hear the same stories again and again, it would be madness to challenge something that is so obviously true and to realize it's a collective illusion.
</p>
<p>
  At birth, we were thrown into a pot of infinite possibilities.
  </br>
  We were maturing for so long, fitting the pieces together, healing the trauma of existence.
  </br>
  Over time, we grew a shell or a... muscle mass that protects us.
  </br>
  We hide and dodge, so that it's not crashed or torn... so that we don't become lost, fragile and vulnerable again.
</p>
<p>
  But to truly grow, one must continue to break the structures of reality, to constantly practice the courage of not knowing.
  </br>
  With time, one realizes the depth of the pot and the deeper he allows himself to dive, the more nuance there is.
  </br>
  At some point, one will realize that the bottom is just a door to yet another level of complexity.
  </br>
  It's that understanding that there are levels and layers of abstraction that direct the same fear to reinitiate.
</p>
<p>
  Once again, we find ourselves in unknown territory.
  </br>
  This time searching for another bottom.
</p>





{% endblock %}
