{% block content %}

27.01.2024
<p>
Goals of individuals come from desire to continue on a path of their lineage.  <br/>
Picture this: I can only speak with me from few seconds and I can reach to me from years ago.  
But it is not me of course, for I am here and not there.  
It is not me because I need to interpret what they say when I converse with them.  
</p>
<p>
But I accept that I participate in their goals, that I follow up with their aspirations, that I take them as mine.  
The further back I go, the less we share, the more difficult it is to decode them.  
In fact, it doesn't seem like there's anything I share with them, not more than I do share with people who wrote the books I read or people I exchange thoughts with.  
In some sense, me from the past and my ancestors are closer to each other than I am to them.  
</p>
<p>
So ultimately there is no me... not more than a follower, an agent that accepted set of beliefs and objectives that were defined before I was born, for I have been born... just now.  
And there is are no families, not more than in a formal sense. We share more with the culture we are growing in than with specific set of beliefs of our families, move aside radical examples.  
    </p>
<p>
So lineage really is the collective superposition of the threads we picked up on, that influenced our sense making.  
    Some of the threads manifested through our looks and body, genetic predispositions, character, behaviorisation. Other threads randomly catching on us, while we take a move here and there in our journey. In all those, we take a role of attentive actor who tries to connect all the puzzles in coherent story, always measuring present against the past. Present "me" conversing with all the other versions of ourselves - those who shared "my" body and those who didn't.
</p>
<p>
The most fascinating thing is that just as we reference the past, we also do project towards the future.
    Most of the time unconsciously, as it is difficult to conceptualize it.<br/>
    One way to approach it is to look at your present experience as if it was the past. Imagine you're watching a high-resolution video of people living 1000 years ago in 2024. What do you see? Most likely your mind will start to focus on high-order abstractions of the state of the world. You will also experience as your attachment to the culture you live in starts to dissipate.
    </p>
    <p>
    What follows is that your perception of things shifts - you become more attuned to the projection of time, more sensitive to the threads that do not come on you by chance, you learn to perceive them.
    It is very powerful excercise, for it helps you to see beyond local events and to envision the consequences of the whole of our activities - of  humanity, of the world. It helps you to conceptualize it not only in space, but also in time. You can realize the power you hold as an agent.
</p>

{% endblock %}
