* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

/*  COLORS SET
 *  complimentary:
 *  #B8474D -- cool coral
 *  #47B8B2 -- green light
 *
 *  #f5e1e0 -- very light coral
 *
 *  complimentary:
 *  #C2443D -- warm icecream coral
 *  #3DBBC2 -- mint green
 *
 *  #000000 -- black
 *  #FFFFFF -- white
 *
 */

:root {
/* pallete explanation */
  /* complimentary main colors */
  --cool-coral: #B8474D;
  --green-light: #47B8B2;
  /* for light elements, text */
  --very-light-coral: #f5e1e0;
  /* alternative warmer complimentary main colors */
  --warm-coral: #C2443D;
  --mint-green: #3DBBC2;
  /*dark colors - backgrounds*/
  --dark-dark-green: #0B1C1B;
  --mid-dark-green: #1C0B0C;
  --light-dark-green: #19413E;

  /* beige-whitey */
  --light-beige: #F4F4EE;
  --black: #000000;
  --blue: #1e90ff;
  --white: #ffffff;

/* the used colors */
  --text-color: #000000;
  --nav-bg: #F9F9F6;
  --back-bg: #F9F9F6;
  --dark-bg: #0B1C1B;
  --main-bg: #19413E;
  --flashy: #636342;
  --divider: #000000;
}

html,
body {
    color: var(--text-color);
    background: var(--back-bg);
    /*padding: 5px;*/
    padding:2px;
    font-family: "Source Sans Pro";
    font-weight: 300;
    /*
    font-family: Georgia, Helvetica, sans-serif;
    */
    /*font-family: "Times New Roman", Times, serif;*/
    height: 100%;
    /*position: relative;
    vertical-align: middle;*/
    margin:0px;
}


.initials {
    font-family: "Source Sans Pro";
    font-size: 1.5em;
    color: var(--dark-bg);
    background-color: black;
    border:1px;
    font-weight: 900;
    vertical-align: left;
}


/* the logo container */
.header-container {
    padding:0px;
    position:fixed;
    top:0;
    /*height:25px;*/
    width: 4%
    /*border-bottom:2px solid #0f0f0f;*/
}

/* menu */
.nav {
    background: var(--nav-bg);
    margin: auto;
    width: 100%;
    padding:2px;
    text-align: center;
}

nav-li {
    display: inline;
    padding: 10px;
}

.horizontal-line {
    margin: auto;
    border-top: 1px solid;
    border-image-slice: 1;
    border-image-source: radial-gradient(circle, #000000 10%, #F9F9F6 100%);
    width: 80%;
}


/* main page container */
.container {
    margin: auto;
    width: 50%;
    /*
    background: var(--main-bg);
    */
    padding: 25px;
    /*border-bottom:2px solid #0f0f0f;*/
}

/* index.html */
button.link {
    background:none;
    border:none;
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: medium;
}
/* end index.html */

/* projects.html */
.projects-paragraph {
    margin:10px;
    padding: 5px
}

.projects-paragraph a {
    text-decoration: none;
    background-color: var(--nav-bg);
    color: var(--flashy);
    font-weight: 600;
}

/* end projects */

/* navigation */
a {
    text-decoration: none;
    background-color: var(--nav-bg);
    color: var(--flashy);
    font-weight: 400;
    /*font-size: 1.5em;
    font-weight: bold;*/
}

a:hover {
    background-color: var(--nav-bg);
    color: var(--flashy);}

/*a-nav-item is really just the text of URL */
.a-nav-item{
    text-decoration: none;
    color: var(--main-bg);
    font-size: 1em;
    font-weight: 400;
}

.a-nav-item:hover{
    /* "blue"
    color : #694ed6;
    greyinsh from pallete: */
    color: var(--main-bg);
}

/* btn-nav is the border of URL */
.btn-nav{
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
}

/* navigation - end */

/* modal - picture popup */

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--dark-bg);
}

/* Modal Content */
.modal-content {
  position: relative;
  /*
  background-color: #fefefe;
  */
  background-color: var(--dark-bg);
  margin: auto;
  padding: 0;
  /*
  width: auto;
  width: 50%;*/
  max-height: 90vh;
  max-width: 90vh;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  margin: auto;
  display: none;
  max-height: 80%;
  max-width: 80%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* modal - picture popup - END */


.bottom-container {
    background: var(--dark-bg);
    border-top:2px solid var(--text-color);
    position:fixed;
    bottom:0;
}

.footer-container {
    text-align: center;
    background: var(--flashy);
    position:fixed;
    bottom:0;
    height:25px;
    width: 100%
}

.divider{
    clear:both;
    background: var(--divider);
}
.homepage-divider{
    clear:both;
    background: var(--divider);
    margin-bottom: 0;
}

.container-term {
    width:80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

footer {
    text-align: center;
    height: 50px;
    color: var(--flashy);
    padding: 5px;
    margin-top: 10px;
    bottom: 0px;
}
/*
header {
    text-align: center;
}
*/


li {
    list-style-type: circle;
    padding: 10px;
}


.a-footer{
    text-decoration: none;
    color: white
}

.a-footer:hover{
    color: black
}

hr {
    width: 100%;
    height:4px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkblue;
    border: 0 none;
}

/* input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
} */

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}


.btn-submit {
    background-color: cornflowerblue;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.btn-submit:hover {
    opacity: 1;
}

.responded {
    color:green;
}
.checking,.unchecked {
    color:#FF8C00;
}
.timeout {
    color:red;
}

.table{
    display: block;
}
.row{
    display: block;
    /* text-align: center; */
}
.cell{
    display: inline-block;
}
.cell-left{
    text-align: left;
    font-family: Helvetica, sans-serif;
    padding-top: 5px;
}
.cell-center{
    text-align: center;
    color: white;
    padding-top: 5px;
}
.cell-right{
    float: right;
    text-align: center;
    /* display: inline; */

}
.btn-authentication{
    background-color: rgb(105,78,214);
    border: none;
    border-radius: 8px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    position: relative;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    bottom: .8em;
}
.btn-authentication:hover{
    /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
    background-color: rgb(80, 59, 163)
}
.btn-authentication:active {
    background-color: rgb(80, 59, 163);
    box-shadow: 0 4px #666;
    transform: translateY(4px);
  }
.btn-status-round{
    background-color: green;
    border-style: solid;
    border-width: thin;
    border-color: white;
    border-radius: 50%;
    font-size: 1.5em;
    display: inline-block;
    position: relative
}
.btn-status-round:disabled{
    background-color: red;
}
.title-style{
    font-size: 2em;
    /* font-color: rgb(65,65,65); */
}
.label-for-btn-status-round{
    display: inline-block;
    font-weight: bold;
    font-size: 1.25em;
    color: white;
}
.text-below-title{
    margin-top: -25px;
    font-size: 0.75em;
    margin-bottom: 0.5em;
}
.scroll-left {
    height: 50px;
    overflow: hidden;
    position: relative;
   /* background: black;
    color: blanchedalmond;*/
    color: red;
    font-weight: bold

}
.scroll-left p {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    line-height: 50px;
    font-size: 25px;
    text-align: right;
    /* Starting position */
    transform:translateX(0%);
    /* Apply animation to this element */
    animation: scroll-left 20s linear infinite;
}
/* Move it (define the animation) */
@keyframes scroll-left {
       0%
       {
           transform: translateX(40%);
       }
       100%
       {
           transform: translateX(-100%);
       }
}


.vertical-line{
    border-left: 5px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(180deg, rgba(105,78,214,1) 0%, rgba(193,55,162,1) 90%);
    height: 500px;
}
.statusgreenIcon { background-image: url('../images/statusgreen.png'); }
.statusyellowIcon { background-image: url('../images/statusyellow.png'); }
.statusredIcon { background-image: url('../images/statusred_py.png'); }

.filter-green{
    filter: invert(59%) sepia(67%) saturate(564%) hue-rotate(58deg) brightness(94%) contrast(101%);
	padding-right: 3px;
	vertical-align: -2px;
}

.filter-red{
	filter: invert(26%) sepia(94%) saturate(2943%) hue-rotate(340deg) brightness(98%) contrast(84%) ;
	padding-right: 3px;
	vertical-align: -2px;
}

.filter-black{
	vertical-align: -2.5px;
	padding-right: 2px;
}

.centered-cell{
	display: flex;
    	align-items: center;
    	justify-content: center;
}

tr:hover {
	background-color: #FFDA85;
}


