* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

/*  COLORS SET
 *  complimentary:
 *  #B8474D -- cool coral
 *  #47B8B2 -- green light
 *
 *  #f5e1e0 -- very light coral
 *
 *  complimentary:
 *  #C2443D -- warm icecream coral
 *  #3DBBC2 -- mint green
 *
 *  #000000 -- black
 *  #FFFFFF -- white
 *
 */

:root {
/* pallete explanation */
  /* complimentary main colors */
  --cool-coral: #B8474D;
  --green-light: #47B8B2;
  /* for light elements, text */
  --very-light-coral: #f5e1e0;
  /* alternative warmer complimentary main colors */
  --warm-coral: #C2443D;
  --mint-green: #3DBBC2;
  /*dark colors - backgrounds*/
  --dark-dark-green: #0B1C1B;
  --mid-dark-green: #1C0B0C;
  --light-dark-green: #19413E;

  /* beige-whitey */
  --light-beige: #F4F4EE;
  --black: #000000;
  --blue: #1e90ff;
  --white: #ffffff;

/* the used colors */
  --text-color: #000000;
  --nav-bg: #F9F9F6;
  --back-bg: #F9F9F6;
  --dark-bg: #0B1C1B;
  --main-bg: #19413E;
  --flashy: #636342;
  --divider: #000000;
}

html,
body {
    color: var(--text-color);
    background: var(--back-bg);
    /*padding: 5px;*/
    padding:2px;
    font-family: "Source Sans Pro";
    font-weight: 300;
    /*
    font-family: Georgia, Helvetica, sans-serif;
    */
    /*font-family: "Times New Roman", Times, serif;*/
    height: 100%;
    /*position: relative;
    vertical-align: middle;*/
    margin:0px;
}


.initials {
    font-family: "Source Sans Pro";
    font-size: 1.5em;
    color: var(--dark-bg);
    background-color: black;
    border:1px;
    font-weight: 900;
    vertical-align: left;
}


/* the logo container */
.header-container {
    padding:0px;
    position:fixed;
    top:0;
    /*height:25px;*/
    width: 4%
    /*border-bottom:2px solid #0f0f0f;*/
}

/* menu */
.nav {
    background: var(--nav-bg);
    margin: auto;
    width: 100%;
    padding:2px;
    text-align: center;
}

nav-li {
    display: inline;
    padding: 10px;
}

.horizontal-line {
    margin: auto;
    border-top: 1px solid;
    border-image-slice: 1;
    border-image-source: radial-gradient(circle, #000000 10%, #F9F9F6 100%);
    width: 80%;
}

.vertical-line {
    margin: auto;
    border-left: 1px solid;
    border-image-slice: 1;
    border-image-source: radial-gradient(circle, #000000 10%, #F9F9F6 100%);
    height: 80%;
}

/* main page container */
.container {
    margin: auto;
    width: 50%;
    /*
    background: var(--main-bg);
    */
    padding: 25px;
    /*border-bottom:2px solid #0f0f0f;*/
}

code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}

/* index.html */
button.link {
    background:none;
    border:none;
    font-family: "Source Sans Pro";
    font-weight: 300;
    font-size: medium;
}
/* end index.html */

/* projects.html */
.projects-paragraph {
    margin:10px;
    padding: 5px
}

.projects-paragraph a {
    text-decoration: none;
    background-color: var(--nav-bg);
    color: var(--flashy);
    font-weight: 600;
}

/* end projects */

/* blog.html */
.blog-paragraph {
    margin:10px;
    padding: 5px
}

.blog-paragraph a {
    text-decoration: none;
    background-color: var(--nav-bg);
    color: var(--flashy);
    font-weight: 600;
}

.blog-nav {
    background: var(--nav-bg);
    position:fixed;
    margin-top: 45px;
    /*margin: auto;
     */
    width: 25%;
    padding:25px;
    text-align: left;
    float: left;
}

.blog-nav h4 {
    margin-bottom:0px;
}

.blog-content {
    background: var(--nav-bg);
    /*margin: auto;
     */
    width: 50%;
    padding:25px;
    text-align: center;
    float: left;
}

/* end blog */

/* navigation */
a {
    text-decoration: none;
    background-color: var(--nav-bg);
    color: var(--flashy);
    font-weight: 400;
    /*font-size: 1.5em;
    font-weight: bold;*/
}

a:hover {
    background-color: var(--nav-bg);
    color: var(--flashy);}

/*a-nav-item is really just the text of URL */
.a-nav-item{
    text-decoration: none;
    color: var(--main-bg);
    font-size: 1em;
    font-weight: 400;
}

.a-nav-item:hover{
    /* "blue"
    color : #694ed6;
    greyinsh from pallete: */
    color: var(--main-bg);
}

/* btn-nav is the border of URL */
.btn-nav{
    border: none;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
    font-size: 1.2em;
}

/* navigation - end */

/* modal - picture popup */

.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 5px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--dark-bg);
}

/* Modal Content */
.modal-content {
  position: relative;
  /*
  background-color: #fefefe;
  */
  background-color: var(--dark-bg);
  margin: auto;
  padding: 0;
  /*
  width: auto;
  width: 50%;*/
  max-height: 90vh;
  max-width: 90vh;
}

/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

/* Hide the slides by default */
.mySlides {
  margin: auto;
  display: none;
  max-height: 80%;
  max-width: 80%;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Caption text */
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/* modal - picture popup - END */


.bottom-container {
    background: var(--dark-bg);
    border-top:2px solid var(--text-color);
    position:fixed;
    bottom:0;
}

.footer-container {
    text-align: center;
    background: var(--flashy);
    position:fixed;
    bottom:0;
    height:25px;
    width: 100%
}

.divider{
    clear:both;
    background: var(--divider);
}
.homepage-divider{
    clear:both;
    background: var(--divider);
    margin-bottom: 0;
}

.container-term {
    width:80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

footer {
    text-align: center;
    height: 50px;
    color: var(--flashy);
    padding: 5px;
    margin-top: 10px;
    bottom: 0px;
}


li {
    list-style-type: circle;
    /*
    padding: 10px;
     */
    padding: 3px;
}


.a-footer{
    text-decoration: none;
    color: white
}

.a-footer:hover{
    color: black
}

hr {
    width: 100%;
    height:4px;
    margin-left: auto;
    margin-right: auto;
    background-color: darkblue;
    border: 0 none;
}

tr:hover {
	background-color: #FFDA85;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

