<div class="footer-container">

    <div class="table">
       <div class="row" style="bgcolor=#FFFFFF">
            <div class="cell cell-left" style="margin-top: 5px">

            </div>

            <div class="cell cell-center">
                <a class="a-footer" href="static/resources/copyright.txt">Copyright</a><font color="white"> &copy; Mateusz Kowalkowski. All Rights Reserved.</font>
            </div>

            <div class="cell cell-right" style="margin-top: 5px" style="color: white">

            </div>
       </div>
    </div>
</div>

