<html>
<head>
</head>
<body>
	<!-- div for center
<div class="top-container">
    <div class="table">
        <div class="row">
            <div class="cell cell-left">
                <a style="initials" href="localhost:8001/home">Mateusz Kowalkowski</a>
            </div>

        </div>
    </div>

</div>
-->


<header>
	<nav-header style="width: 100%;">
		<ul>
                <nav-li><a class="initials;" style="vertical-align: left"  href="{{ url_for('index') }}" class="">MK</a></nav-li>
        </ul>
    </nav-header>

</body>
</html>

