        <header>
 	<nav>
	    <ul>
                <li class="nav-item"><button class="btn-nav"><a class="a-nav-item" href="{{ url_for('index') }}" class="nav-link active">About</a></button></li>
		<!-- <li class="nav-item"><button class="btn-nav"><a class="a-nav-item" href="{{ url_for('about') }}" class="nav-link active">About</a></button></li> -->
                <li class="nav-item"><button class="btn-nav"><a class="a-nav-item" href="{{ url_for('blog') }}" class="nav-link">Blog</a></button></li>
                <li class="nav-item"><button class="btn-nav"><a class="a-nav-item" href="{{ url_for('projects') }}" class="nav-link">Projects</a></button></li>
            </ul>
        </nav>
	</header>

