	    <ul>

                <nav-li class="nav-item"><button class="btn-nav"><a class="a-nav-item nav-link" href="{{ url_for('index') }}">About</a></button></nav-li>
		<!-- <li class="nav-item"><button class="btn-nav"><a class="a-nav-item" href="{{ url_for('about') }}" class="nav-link active">About</a></button></li> -->
                <nav-li class="nav-item"><button class="btn-nav"><a class="a-nav-item nav-link" href="{{ url_for('projects') }}">Projects</a></button></nav-li>
                <nav-li class="nav-item"><button class="btn-nav"><a class="a-nav-item nav-link" href="{{ url_for('blog') }}">Blog</a></button></nav-li>


            </ul>
