{% extends "includes/layout.html" %}

{% block content %}


<!-- <hr class="divider"> -->





    <!-- Page content -->
      <h1 style="font-size: 25px; text-align: center;">Blog</h1>

      <h3> Mysteries of life </h3>
      <div class="projects-paragraph">
      <a class="a-nav-item" href="{{ url_for('mystory') }}" class="nav-link">Childhood aspirations.</a>
		</br>
      <a class="a-nav-item" href="{{ url_for('dionysiac_architects') }}" class="nav-link">Dionysiac Architects.</a>
		</br>
      <a class="a-nav-item" href="{{ url_for('fear_of_existence') }}" class="nav-link">Fear of existence.</a>
      </div>
      <h3> Learning </h3>
      <div class="projects-paragraph">
      <a class="a-nav-item" href="{{ url_for('drawing') }}" class="nav-link">First lesson on drawing.</a>
      </div>



{% endblock %}

