{% extends "layout.html" %}

{% block content %}


<!-- <hr class="divider"> -->





    <!-- Page content -->
      <h1 style="font-size: 25px; text-align: center;">Blog</h1>

      <h3> Private life </h3>
      <div class="projects-paragraph">
      <a class="a-nav-item" href="{{ url_for('mystory') }}" class="nav-link">Things that shaped my worldview.</a>
		</br>
      <a class="a-nav-item" href="{{ url_for('drawing') }}" class="nav-link">First lesson on drawing.</a>
      </div>



{% endblock %}

