{% extends "includes/layout.html" %}

{% block content %}


<div class="container">
    <!-- Page content -->
      <p>Sorry for the inconvenience with SSL key. I'm waiting until June to refresh both SSL cert as well as domain subscription. Otherwise I have to refresh in different times of year and I don't like it :)</p>
      <h1 style="font-size: 25px; text-align: center;">Mateusz Kowalkowski</h1>
      <p>
      I'm a customer supporter in fintech company. Currently working as Senior Engineering Support Advisor at Finastra.
      </br>
      Although my official role is investigation of technical cases, communicating and providing support for clients, I also lead a team which provides and maintains environments in CS department and builds systems to make it better, to bring synergy between it and the people. 
      </br>
      My another proud unwritten role is that of advocacy for CS department in all sorts of discussions related to infrastructure, technical processes and sometimes changes in product trajectories.
      </br>
      Currently my learning is focused on becoming better at organizing my work and improving my knowledge and skills related to development processeses and new technologies.
      </br>
      I am grateful to work with kind and wise human beings, to talk about life and to learn from them.
      </br>
      You can contact me at <a href="" data-part1="mateusz.kowal" data-part2="com" data-part3="kowski" data-part4="gmail"  data-subject="General%20Questions"></a>
      </p>
      <script src="{{ url_for('static', filename='js/mail.js') }}"></script>

      <h3>Things I find fascinating to contemplate upon</h3>
      <p>
      - simplification and optimalization of technical processes
      </br>
      - harmony and conflict in service-oriented environments
      </br>
      - human connection and communication in goal-oriented communities
      </br>
      - abstraction in programming and system building
      </br>
      - role of creativity and individual initiative in improvement of organized groups
      </p>
      <h3>Formal Education</h3>
      <p>
      - (2012-2016) <b>BSc of Radiocommunication</b> at Faculty of Electronics, Telecommunications and Informatics at Gdansk University of Technology
      </br>
      - (2016-2018) <b>MSc of Computer Networks</b> at the same faculty, my thesis title was "Simulation of a wireless link with space-time coding"
      </p>
      <h3>Outside of my professional activities, I enjoy:</h3>
      <p>
      - studying and thinking deeply about social problems
      </br>
      - learning about psychology and human nature <!-- human mind and psychology -->
      </br>
      - hiking with my dog Kleo
      </br>
      - rock climbing
      </br>
      </br>
      <td>
        <tr>
      <img id="Kleo2" src="static/images/Kleo2.jpeg" style="border-style: solid; border-width: 1px; width:49%;"  alt="Kleo" onclick="openModal();currentSlide(1)" class="hover-shadow">
        </tr>
          <tr>
      <img id="climbing" src="static/images/climbing.jpeg" style="border-style: solid; border-width: 1px; width:49%;" alt="climbing pic by Ewa Janisz" onclick="openModal();currentSlide(2)" class="hover-shadow">
          </tr>
      </td>
      <!-- - sencha tea -->
      </p>

      <h3>My favorite books:</h3>
      <p>
      - 1984 (George Orwell)
      </br>
      - The Process of Persuasion (Clyde R. Miller)
      </br>
      - Empathy: A Handbook for Revolution (Roman Krznaric)
      </br>
      - Utopia for Realists (Rutger Bregman)
      </br>
      - Freedom is a constant struggle (Angela Davis)
      </br>
      - The Darkening Age (Catherine Nixey)
      </br>
      - Childhood Under Siege (Joel Bakan)
      </br>
      - Sapiens (Yuval Noah Harari)
      </br>
      - In the Realm of Hungry Ghosts (Gabor Mate)
      </br>
      - Permission to Feel (Marc Brackett)
      </br>
      - The Body Keeps the Score (Bessel van der Kolk)
      </br>
      - Invisible Man (Ralph Ellison)
      </br>
      - The Ocean at the End of the Lane (Neil Gaiman)
      </br>
      - On Heaving No Head (Douglass Edison Harding)
      </br>
      - Mystery of the Mind: A Critical Study of Consciousness and the Human Brain (Wilder Penfield)
      </br>
      - Empathy (Christian Keysers)
      </br>
      - Braiding Sweetgrass (Robin Wall Kimmerer)
      </br>
      - Secret of the Golder Flower (Chineese book, comentary by Wilhelm and Jung)
      </br>
      - The Secret Teachings of all Ages (Manly P. Hall)
      </br>
      - The Kybalion: Hermetic Philosophy (Three Initiates)
      </p>


    <div id="myModal" class="modal">

        <!-- The Close Button -->
        <span class="close">&times;</span>

        <!-- Modal Content (The Image) -->
        <img class="modal-content" id="img01">
        <span class="close cursor" onclick="closeModal()">&times;</span>
        <div class="modal-content">
            <div class="mySlides">
                <div class="numbertext">1 / 4</div>
                <img src="static/images/Kleo2.jpeg"  style="max-height: 100vh;">
            </div>

            <div class="mySlides">
                <div class="numbertext">2 / 4</div>
                <img src="static/images/climbing.jpeg" style="max-height: 100vh;">
            </div>
        </div>
        <!-- Modal Caption (Image Text) -->
        <div id="caption"></div>
        </div>

    </div>

    <script>
        function openModal() {
        document.getElementById("myModal").style.display = "block";
        }

        // Close the Modal
        function closeModal() {
        document.getElementById("myModal").style.display = "none";
        }


        var slideIndex = 1;
        showSlides(slideIndex);


        function currentSlide(n) {
        showSlides(slideIndex = n);
        }

        function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        var captionText = document.getElementById("caption");
        if (n > slides.length) {slideIndex = 1}
        if (n < 1) {slideIndex = slides.length}
        for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        }
        slides[slideIndex-1].style.display = "block";
        }


        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
        modal.style.display = "none";
        }
    </script>

</div>
{% endblock %}

