{% extends "layout.html" %}

{% block content %}


<!-- <hr class="divider"> -->





    <!-- Page content -->
    <div style="width: 100%; height: 100%; float: center; padding-left: 30%; padding-right: 30%; padding-bottom: 25px;  border-image-slice:1; ">
      <h1 style="padding-top: 20px; font-size: 25px; text-align: center;">Welcome</h1>


      <p>
      Hi there! Welcome on my personal page.
      </p>
      <p>
      I invite you to join me on my journey to understand what it's all about. 
      In this pursuit I will try to stay open to new ideas and perspectives and humble in making opinions, but yes... making opinions, as without them the journey is just reading a map without taking a single step.
      I will be sharing here my projects, thoughts, understanding or reflections on books I read and... whatever comes to my mind.
      </p>

    </div>


{% endblock %}

