{% extends "layout.html" %}

{% block content %}


<!-- <hr class="divider"> -->


    <!-- Page content -->
      <h1 style="font-size: 25px; text-align: center;">Mateusz Kowalkowski</h1>

      <p>
      I'm a customer supporter in fintech company. Currently working as Senior Engineering Support Advisor at Finastra. 
      </br>
      My main focus is investigation of technical cases, communication and maintaining good relationships with clients, I also lead a small team which provides and maintains environments in CS department. 
      </br>
      I have a priviledge to work with one of the kindest and wisest human beings in the world.
      </p>
      <h3>Professional interests</h3>
      <p>
      - simplification and optimalization of the technical processes, while maintaining agreement and harmony between groups of different needs
      </br>
      - communication between departments in corporations - the human aspect
      </br>
      - role of abstraction in implementation of solutions 
      </br>
      - role of creativity and individual initiative in improvement of organized groups
      </p>
      <h3>Studies</h3>
      <p>
      - (2012-2016) <b>BSc of Radiocommunication</b> at Faculty of Electronics, Telecommunications and Informatics at Gdansk University of Technology
      </br> 
      - (2016-2018) <b>MSc of Computer Networks</b> at the same faculty, my thesis was "Simulation of a wireless link with space-time coding"
      </p>
      <h3>Outside of my professional activities, I enjoy:</h3>
      <p>
      - studying and thinking deeply about social problems
      </br>
      - learning about human nature <!-- human mind and psychology -->
      </br>
      - spending time with my dog #pictures#
      </br>
      - rock climbing #add pictures from trips#
      </br>
      <!-- - sencha tea -->
      </p>

      <h3>My favorite books:</h3>
      <p>
      - 1984 (George Orwell)
      </br>
      - Utopia for Realists (Rutger Bregman)
      </br>
      - Freedom is a constant struggle (Angela Davis)
      </br>
      - The Darkening Age (Catherine Nixey)
      </br>
      - Childhood Under Siege (Joel Bakan)
      </br> 
      - Sapiens (Yuval Noah Harari)
      </br>
      - In the Realm of Hungry Ghosts (Gabor Mate)
      </br>
      - Permission to Feel (Marc Brackett)
      </br>
      - The Body Keeps the Score (Bessel van der Kolk)
      </br>
      - Invisible Man (Ralph Ellison)
      </br>
      - The Ocean at the End of the Lane (Neil Gaiman)
      </br>
      - On Heaving No Head (Douglass Edison Harding)
      </br> 
      - Empathy (Christian Keysers)
      </br>
      - Braiding Sweetgrass (Robin Wall Kimmerer)
      </br>
      - Secret of the Golder Flower (chineese book, comentary by Wilhelm and Jung)
      </p>



{% endblock %}

