{% extends "layout.html" %}

{% block content %}


<!-- <hr class="divider"> -->





    <!-- Page content -->
      <h1 style="font-size: 25px; text-align: center;">Projects</h1>


      <h2>Python</h2>
      <h3>- Learning</h3>
      <div class="projects-paragraph">
	<a href="https://github.com/zostaw/spaced_repetition">Spaced Repetition</a> - a simple program that implements a spaced repetition tool for learning.


      </div>
      <div class="projects-paragraph">
	<a href="https://github.com/zostaw/treePrinter">Tree Schema Printer</a> - the program is drawing a polar plot of tree graphs, it assigns the positions of the nodes based on their spread size. I enjoyed this project particularly as it had no sense, no purpose other than exploration, building intuitions on mathematical concept and learning basics about programming language.

	</br>
	<img src="static/images/beautiful3.png" style="border-style: solid; border-width: 1px; width:400px;height:400px;"  alt="Beautiful Tree">
	<img src="static/images/beautiful4.png" style="border-style: solid; border-width: 1px; width:400px;height:400px;" alt="Even More Beautiful Tree">

      </div>



{% endblock %}

