{% extends "includes/layout.html" %}

{% block content %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- <hr class="divider"> -->

<div class="container">



    <!-- Page content -->
      <h1 style="font-size: 25px; text-align: center;">Projects</h1>


      <h2>Programming</h2>
      <h3>- Learning</h3>

      <div class="projects-paragraph">
        <a href="https://github.com/zostaw/home-page">This page <i class="fa fa-github"></i></a> - This page you are reading right now! </br>

        <b>What I learned:</b> basics of flask, html and css, as well as CI/CD processes - I built a Github Actions (and previously Jenkins) pipeline that builds a docker image and deploys the application.
        You can find the code on github and even deploy in your docker/k8s by pulling dockerhub image. It runs on Raspberry Pi :)</br>
        #python #jenkins #k8s #flask #html #css #docker #github #raspberrypi</br>

      </div>
      </br>

      <div class="projects-paragraph">
        <a href="https://github.com/zostaw/disect-cnn">Disect Convolutional Neural Network <i class="fa fa-github"></i></a> - My CNN learning repository.</br>

        <b>What I learned:</b> </br>
        - basic architecture of CNN networks - how they work, </br>
        - representations of CNN and MaxPool layers, </br>
        - how filter maps are created, </br>
        - how to extract activations and output gradient with respect to specific layer's outputs, </br>
        - how to combine them to extract feature maps and heatmaps, </br>
        - how to visualize and debug CNN model.</br>
        #NN #CNN #pytorch #CAM</br>
      </br>
        <td>
            <tr>
                <img id="cnn_heatmaps" src="static/images/cnn_heatmaps.png" style="border-style: solid; border-width: 1px; width:100%;" alt="CNN Heatmaps" onclick="openModal();currentSlide(1)" class="hover-shadow">
            </tr>
            <tr>
                <img id="cnn_featuremaps" src="static/images/cnn_featuremaps.png" style="border-style: solid; border-width: 1px; width:100%;" alt="CNN Feature maps" onclick="openModal();currentSlide(2)" class="hover-shadow">
            </tr>
        </td>
      </div>
      </br>

      <div class="projects-paragraph">
        <a href="https://github.com/zostaw/rants_memos">Rants and memos <i class="fa fa-github"></i></a> - simple voice transcription tool based on <a href="https://github.com/openai/whisper">whisper</a> (also <a href="https://github.com/ggerganov/whisper.cpp">whisper.cpp</a> and <a href="https://ffmpeg.org/">ffmpeg</a>) - it has two parts: live transcription to generate markdown note and batched transcription from all Voice Memos.</br>

        <b>What I learned:</b> How to combine multiple applications to solve a problem, building system tools.</br>
        #voice #whisper #voicememos #ffmpeg</br>
      </div>
      </br>

      <div class="projects-paragraph">
        <a href="https://github.com/zostaw/learning_ansible_microk8s">Building microk8s cluster with ansible <i class="fa fa-github"></i></a> - my playbooks for installation of snap, microk8s and forming a k8s cluster from ubuntu/centos servers.</br>

        <b>What I learned:</b> the basics of ansible (the structure - inventory, playbooks, roles), as well as some of the important things one should consider when generalizing a process.</br>
        For example that there are some common elements for multiple entities, but some have different alternatives and the beauty of it is that one can build something, make it complete by abstracting away all the parts of it. </br>
        By understanding all the parts, one can better understand how all of it connects together into a harmonious process.</br>
        #ansible #kvm #qemu #unix #k8s</br>
      </div>
      </br>


      <div class="projects-paragraph">
        <a href="https://github.com/zostaw/spaced_repetition">Spaced Repetition <i class="fa fa-github"></i></a> - a simple program that implements a spaced repetition tool for learning.<!--, try the demo: <a href="{{ url_for('spaced_repetition') }}">Spaced Repetition</a>--> .</br>
        <b>What I learned:</b> While working on this project I learned the basics of the structure of python classes: </br>
        - constructor (init) method and how it works together with optional input parameters, other methods, variables - it was interesting to figure out a way to implement optional input parameters while keeping the code readable, </br>
        - handling files and databases - especially interesting was writing methods that do not destroy the cohesion of the database, </br>
        - implementing getter method - it tought me awereness of types of things, how one entity can change its shape and form upon interaction with other. Python is very flexible with types and one variable can take multiple forms - number of elements in an array can change it's type from None, through int to array. Btw. it's a great metaphor for life - the changing of one's form dependent on the interaction with the world, the invisible forces playing with her/him. </br>
        - ValueErrors - I learned how to keep the consistency of the program by verifying the state of variables before interacting with them in method. </br>
        #python </br>
      </div>
      </br>

      <div class="projects-paragraph">
        <a href="https://github.com/zostaw/treePrinter">Tree Schema Printer <i class="fa fa-github"></i></a> - the program is drawing a polar plot of tree graphs, it assigns the positions of the nodes based on their spread size. I enjoyed this project particularly, because it had no sense, no purpose other than exploration, building intuitions on mathematical concept and learning basics about programming language.</br>
        #python</br>
      </br>
        <td>
            <tr>
                <img id="beautiful3" src="static/images/beautiful3.png" style="border-style: solid; border-width: 1px; width:49%;"  alt="Beautiful Tree" onclick="openModal();currentSlide(3)" class="hover-shadow">
            </tr>
            <tr>
                <img id="beautiful4" src="static/images/beautiful4.png" style="border-style: solid; border-width: 1px; width:49%;" alt="Even More Beautiful Tree" onclick="openModal();currentSlide(4)" class="hover-shadow">
            </tr>
        </td>
          <!-- The Modal -->
        <div id="myModal" class="modal">

              <!-- The Close Button -->
              <span class="close">&times;</span>

              <!-- Modal Content (The Image) -->
              <img class="modal-content" id="img01">
              <span class="close cursor" onclick="closeModal()">&times;</span>
            <div class="modal-content">
                <div class="mySlides">
                  <div class="numbertext">1 / 4</div>
                  <img src="static/images/cnn_heatmaps.png" style="max-height: 40vh;">
                </div>

                <div class="mySlides">
                  <div class="numbertext">2 / 4</div>
                  <img src="static/images/cnn_featuremaps.png" style="max-height: 100vh;">
                </div>

                <div class="mySlides">
                  <div class="numbertext">3 / 4</div>
                  <img src="static/images/beautiful3.png"  style="max-height: 100vh;">
                </div>

                <div class="mySlides">
                  <div class="numbertext">4 / 4</div>
                  <img src="static/images/beautiful4.png" style="max-height: 100vh;">
                </div>

            </div>
            <!-- Modal Caption (Image Text) -->
            <div id="caption"></div>
        </div>

      </div>

<script>
function openModal() {
  document.getElementById("myModal").style.display = "block";
}

// Close the Modal
function closeModal() {
  document.getElementById("myModal").style.display = "none";
}


var slideIndex = 1;
showSlides(slideIndex);


function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  slides[slideIndex-1].style.display = "block";
}


// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}
</script>


</div>

{% endblock %}

