{% extends "layout.html" %}

{% block content %}

<head>

   <script src=
"https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
    </script>
<!-- menu_operation manipulates the page content depending on chosen option
so for example if I choose 'Daily session',
the title of the section should change and a content should open an API for Daily session -->
<script src="{{ url_for('static', filename='js/sr_menu.js') }}"></script>
<!-- get_records loads questions/records from API - this is a part of Daily session option-->
<script src="{{ url_for('static', filename='js/sr_get_records.js') }}"></script>
</head>


    <!-- Page title -->
      <h1 style="font-size: 25px; text-align: center;">Spaced Repetition DEMO</h1>

<!-- START menu section-->
    <form name="menu_form" action="" method="post">
        <select id="menu_list" onChange=menuFunction()>
            <option value="0"></option>
            <option value="1">Daily session</option>
        </select>
    </form>


<!-- END menu section-->

<!-- START content of chosen option-->

<h2 id="option_name"></h2>

<div id="Daily session" style="display: none;">
    <!--
name of this section and content structure is operated with menu choice
while the methods for each program will be defined separately for each option
-->

    <div id="ds_output" style="background-color:#39B54A;">Begin session by clicking Submit</div>
    <p>Your answer: </br>
    <input type="text" id="space-rep-answer" name="space-rep-answer">
    </p>
    <input type="button" id="fetch" value="Submit" />

</div>


<!-- END content of chosen option-->


{% endblock %}

