{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html>
<head>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
<link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css"/>
</head>
<body>

  <h1 style="font-size: 25px; text-align: center;">Terminal emulator TEST</h1>
  <div id="term" style="max-width: 100vw; max-height: fit-content;">
  <script>
    let all_boxes_list;
    $('#term').terminal({

        hello: function(what) {
            this.echo('Hello, ' + what +
                      '. Wellcome to this terminal.');
        },
        load_dataset: function() {
          this.clear();
          // prepare for API
          const dict_values = ""; //Pass the javascript variables to a dictionary.
          const s = JSON.stringify(dict_values); // Stringify converts a JavaScript object or value to a JSON string
          if(all_boxes_list == undefined){
            const s = JSON.stringify(''); // Stringify converts a JavaScript object or value to a JSON string

            // post to python API
            $.ajax({
                url: "/sr_get_all_boxes",
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(s),
                success: function( data, status, xhttp) {
                    // data is value returned from API
                    all_boxes_list = data;
                    console.log(all_boxes_list);
                    // Present the first box immediatelly:
                    //this.echo("asdf" + all_boxes_list);
                }
            });
        }
        else{
            // TODO: define logic:
            // - what should happen after first box is presented
            // - define how to transition between boxes
            // - handle answers
            this.echo("already loaded" + all_boxes_list);
        }

        var pdata = "Questions will appear here. After writing down your answers, click Submit to verify.\n" +
          "The answers must fit exactly the wording, it helps to memorize the concept, because one needs to remember the details.\n" +
          "Type 'presentBox <box id>' when you're ready...";
          this.echo(pdata);
        },
        presentBox: function(box_id){
          this.clear();
          boxes_list = all_boxes_list;
          // returns HTML formatted string, presents all records in a box, separated by paragraphs
          var box = boxes_list[box_id];
          var record_id = 0;
          var pdata = "";
          while(box[record_id]){
              // collect and format HTML string for all records in a box: name, question, answer
              if(box[record_id][1]){
                  pdata = pdata + "" + box[record_id][1] + "\n";
              }

              pdata = pdata + "Question: " + box[record_id][2] + "\n" +
              "Answer: " + box[record_id][3] + "\n\n";

              record_id++;
          }
          pdata = pdata + "Type 'test <box number>' when you're ready."
          console.log(pdata);
          return pdata;
        }
    }, {
        greetings: "Spaced Repetition DEMO\nType 'load_dataset' to load boxes"
    });
    </script>

</div>

</body>
</html>


{% endblock %}

